@charset "utf-8";
html{position: relative;min-height: 100%;}
body{font-family: 'RobotoRegular', sans-serif;font-size: 14px;color: #222;}
h1, h2, h3, h4, h5, h6{font-family: 'RobotoMedium', sans-serif;color:#444;margin:.5rem 0 1rem;}
h1{font-size:20pt;}
i{font-family: 'RobotoItalic', sans-serif;}

/*SEARCH*/
.person__search{margin: 0 0 .8rem;width: 22rem;}
.person__input{
border: 1px solid #a6a6a6;
color: #a6a6a6;
font-size: 13pt;
font-family: GeometriaRegular;
padding: .1rem 3.5rem .1rem .7rem;
border-radius: .1rem;
min-width: 20rem;
}
.person__input_count{
float:right;
}


/*bootstrap переназначение */
.btn-secondary {color: #111!important;background-color:#fff!important;border-color:#bbb!important;}
.btn-secondary:hover {color:#000!important;background-color:#eee!important;border-color:#999!important;}
.btn-secondary:not(:disabled):not(.disabled).active{background-color:#ddd!important;border-color:#555!important;color:#000!important;}
.breadcrumb{background: transparent!important;}

header{transition: all 200ms ease;box-shadow: 0px 0px 14px 0px #000000;}
.footer {width: 100%;height: 60px;line-height: 60px;background-color: #f5f5f5;}
.registration_box{max-width:40rem}

/*******Font***/
@font-face {
	font-family: "RobotoRegular";
	src: url("../font/roboto/Roboto-Regular.woff") format("woff"),
		url("../font/roboto/Roboto-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoBold";
	src: url("../font/roboto/Roboto-Bold.woff") format("woff"),
		url("../font/roboto/Roboto-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoMedium";
	src: url("../font/roboto/Roboto-Medium.woff") format("woff"),
		url("../font/roboto/Roboto-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoLight";
	src: url("../font/roboto/Roboto-Light.woff") format("woff"),
		url("../font/roboto/Roboto-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoItalic";
	src: url("../font/roboto/Roboto-Italic.woff") format("woff"),
		url("../font/roboto/Roboto-Italic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}